span {
  color: black;
}

form {
  margin: auto;
  background: #f3f0e8;
}

input {
  text-align: center;
}

.plus,
.minus {
  height: 30px;
  width: 30px;
  margin-top: 2px;
  text-align: center;
  cursor: pointer;
  border: black;
  border-radius: 50%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.minus:hover {
  background: red;
  box-shadow: auto 0 0 0 1px #ffffff;
  color: white;
  opacity: 50%;
}

.plus:hover {
  background-color: lightskyblue;
  box-shadow: auto 0 0 0 1px #ffffff;
  color: white;
  opacity: 50%;
}

@media only screen and (max-width: 600px) {
  .minus {
    background-color: lightcoral;
  }
  .plus {
    background-color: lightskyblue;
  }
}

.form-control {
  margin-top: 1rem;
  text-align: start;
}

.form-group {
  text-align: center;
  margin: 0.5rem 0.5rem;
  vertical-align: middle;
}

.alert-btn {
  text-align: center;
}
